<!-- table of course students  -->
<div ng-if="isAdmin">
    <h1> מס' שיעור: {{lessonNum}}</h1>
    <button ng-click="backToCoursePage()">Back To Course Page</button>
    <table class="table-striped table-bordered table-hover midrows">
        <thead class="fixed-tbl">
            <tr>
                <th class="small-cell box-content-large"> שם פרטי </th>
                <th class="small-cell"> שם משפחה </th>
                <th class="small-cell"> סטאטוס נוכחות </th>
            </tr>
        </thead>
        <tbody class="fixed-tbl">
            <tr ng-repeat="student in students">
                <td class="small-cell">{{student.firstname}}</td>
                <td class="small-cell">{{student.lastname}}</td>
                <td>
                    <select ng-model="student.attendanceStatus" 
                        ng-change="setAttendanceStatus(student, student.attendanceStatus)">
                        <option value="0">נוכח</option>
                        <option value="1">איחר</option>
                        <option value="2">לא נוכח</option>
                        <option value="3">עדיין לא דיווח</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>